h1{
    padding: 2em;
    
}
h2{
    color: white;
}
 section {
   margin: 2em;
   padding: 15px;
 }
#contact {
    margin: 20em;
    padding: 20em;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

footer {
    padding: 10em;
    display:flex;
    justify-content: center;
    
}
button {
  display:flex;
  align-items:center;
  
}
